<!DOCTYPE html>
<html>
<head>
  <title>CS 3380</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css">	
		<link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="javascripts/jquery-ui/css/smoothness/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css">
		<script type = "text/javascript" src = "javascripts/jquery.js" ></script>		
		<script type = "text/javascript" src = "javascripts/utility.js" ></script>
		<script type = "text/javascript" src = "javascripts/bootstrap-modal.js" ></script>
		<script type = "text/javascript" src = "javascripts/jquery-ui/js/jquery-ui-1.8.17.custom.min.js" ></script>
  		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>	
 	</head>
	<body>
		
<div class="topbar">
	<div class="fill">
    	<div class="container">
          <a class="brand" href="/">Intro to Databases</a>
          <ul class="nav">
            <li id = "home" class="<%= (request.fullpath == '/' ? 'active' : ' ') %> nav"><a href="/">Home</a></li>
            <li id = "resources" class = "<%= (request.fullpath == '/resources' ? 'active' : ' ') %> nav"><a href="/resources">Resources</a></li>
            <li id = "labs" class = "<%= (request.fullpath == '/labs' ? 'active' : ' ') %> nav"><a href="/labs">Labs</a></li>
            <li id = "quizzes" class = "<%= (request.fullpath == '/quizzes' ? 'active' : ' ') %> nav"><a href="/quizzes">Quizzes</a></li>
            <li id = "homeworks" class = "<%= (request.fullpath == '/homeworksgit add ' ? 'active' : ' ') %> nav"><a href="/homeworks">Homeworks</a></li>
          </ul>
          
        	<form action="" class="pull-right">
        		<input class="input-small" type="text" placeholder="Username">
        		<input class="input-small" type="password" placeholder="Password">
        		<button class="btn error" type="submit">Sign In</button>
       		</form>
        </div>
    </div>
</div>	


		<article id = "content" class = "hero-unit">
			
			<%= yield %>
		</article>
	</body>
</html>


